{{!--<h1>Static Header.hbs text</h1>---}}

<header>
    <div id="logo">
        <img src="/img/logo.png" alt="logo">

        <h1>{{title}}</h1>
    </div>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>
